﻿<div class="well row">
	<p class="lead">
		En enkel webbapplikation för att testa en massa bibliotek och utvecklingstekniker jag håller på att lära mig.
	</p>

	<p class="lead">
		Bland annat:
		<ul style="margin-left: 10px; width:500px" class="list-group">
			<li class="list-group-item">
				<span class="glyphicon glyphicon-minus" style="margin-right:5px;" aria-hidden="true"></span>Angular
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-minus" style="margin-right:5px;" aria-hidden="true"></span>Bootstrap
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-minus" style="margin-right:5px;" aria-hidden="true"></span>Underscore.js
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-minus" style="margin-right:5px;" aria-hidden="true"></span>Entity Framework code first
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-minus" style="margin-right:5px;" aria-hidden="true"></span>Domändriven utveckling
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-minus" style="margin-right:5px;" aria-hidden="true"></span>Onion-arkitektur
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-minus" style="margin-right:5px;" aria-hidden="true"></span>Automapper
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-minus" style="margin-right:5px;" aria-hidden="true"></span>ASP.NET Web API/REST
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-minus" style="margin-right:5px;" aria-hidden="true"></span>Dependency injection/Inversion of control med Simple Injector
			</li>
			<li class="list-group-item">
				<span class="glyphicon glyphicon-minus" style="margin-right:5px;" aria-hidden="true"></span>Cachning
			</li>
		</ul>
	</p>
</div>
