﻿<div class="well row" ng-controller="CheckOutOrderController">
	<h2>Beställning</h2>

	<div class="col-md-12 col-sm-12" style="margin-bottom:10px" shoppingcart-payment></div>

	<div class="col-md-7 col-sm-7" style="float:left">
		<form id="loginForm">
			<fieldset>
				<legend>Beställningsalternativ</legend>

				<div class="form-group" style="margin-bottom:10px">
					<label class="control-label">Betalningsalternativ</label>
					<div>
						<select class="form-control" style="display: inline-block;" ng-model="valdBetTyp" ng-options="item.name for item in betTyp" ng-change="valjBetTyp()">
							<option id="-1" value="">Välj betalningstyp</option>
						</select>

						<select class="form-control" style="display: inline-block;" ng-model="valdBetMetod" ng-options="item.name for item in betMetod" ng-disabled="valdBetTyp.id == 2">
							<option id="-1" value="">Välj {{ valdBetTyp.name }}</option>
						</select>
					</div>
				</div>

				<div class="form-group" style="margin-bottom:10px">
					<label class="control-label">Leveransalternativ</label>
					<div>
						<select class="form-control" style="display: inline-block;" ng-model="valdLevMetod" ng-options="item.name for item in levMetoder">
							<option id="-1" value="">Välj leveranstyp</option>
						</select>

						Leveranstid: {{ valdLevMetod.data }} <span ng-hide="hideDagar()">dagar</span>
					</div>
				</div>

				<button class="btn btn-lg btn-primary" type="button" data-ng-click="sendPayment()" ng-disabled="disableSendButton()">Skicka beställning</button>

			</fieldset>
		</form>
	</div>

	<div class="col-md-5 col-sm-5" style="float:right">
		<fieldset>
			<legend>Leveransadress</legend>

			<div class="form-group">
				<label class="col-md-4 col-sm-4 control-label">Adressrad 1</label>
				<div class="col-md-8 col-sm-8">
					<input type="text" class="form-control" ng-model="registrationData.AddressLine1" disabled />
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 col-sm-4 control-label">Adressrad 2</label>
				<div class="col-md-8 col-sm-8">
					<input type="text" class="form-control" ng-model="registrationData.AddressLine2" disabled />
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 col-sm-4 control-label">Ort</label>
				<div class="col-md-8 col-sm-8">
					<input type="text" class="form-control" ng-model="registrationData.City" disabled />
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 col-sm-4 control-label">Postnr</label>
				<div class="col-md-8 col-sm-8">
					<input type="text" class="form-control" ng-model="registrationData.ZipCode" disabled />
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>Kontaktinformation</legend>

			<div class="form-group">
				<label class="col-md-4 col-sm-4 control-label">Telnr</label>
				<div class="col-md-8 col-sm-8">
					<input type="text" class="form-control" ng-model="registrationData.PhoneNr" disabled />
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-4 col-sm-4 control-label">Epost</label>
				<div class="col-md-8 col-sm-8">
					<input type="text" class="form-control" ng-model="registrationData.EmailAddress" disabled />
				</div>
			</div>
		</fieldset>
	</div>
</div>