﻿<div class="well row" ng-controller="CheckOutAuthController">
	<h3>Logga in</h3>
	<form id="loginForm" class="form-login form-horizontal" role="form">
		<fieldset>
			<legend>Mata in användranamn och lösenord</legend>
			
			<div class="form-group">
				<label for="loginUserId" class="col-sm-1 control-label">Login</label>
				<div class="col-sm-6">
					<input name="loginUserId" id="loginUserId" type="text" class="form-control" placeholder="Användarid" data-ng-model="loginData.UserId" required />
				</div>
			</div>

			<div class="form-group">
				<label for="loginPassword" class="col-sm-1 control-label">Lösenord</label>
				<div class="col-sm-6">
					<input name="loginPassword" id="loginPassword" type="password" class="form-control" placeholder="Lösenord" data-ng-model="loginData.Password" required>
				</div>
			</div>

			<div class="form-group">
				<button class="btn btn-lg btn-primary col-sm-offset-1 col-sm-2" type="submit" data-ng-click="login(loginData.UserId, loginData.Password)">Logga in</button>
			</div>

			<div data-ng-hide="loginMessage == ''" data-ng-class="(loggedInSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
				{{ loginMessage }}
			</div>
		</fieldset>
	</form>

	<h3>Eller registrera ny användare</h3>
	<form id="regForm" class="form-login form-horizontal" role="form">
		<fieldset>
			<legend>Mata in personuppgifter</legend>

			<div class="form-group">
				<label for="FirstName" class="col-sm-1 control-label">Förnamn</label>
				<div class="col-sm-6">
					<input name="FirstName" id="FirstName" type="text" class="form-control" data-ng-model="registrationData.FirstName" required />
				</div>
			</div>

			<div class="form-group">
				<label for="LastName" class="col-sm-1 control-label">Efternamn</label>
				<div class="col-sm-6">
					<input name="LastName" id="LastName" type="text" class="form-control" data-ng-model="registrationData.LastName" required />
				</div>
			</div>

			<div class="form-group">
				<label for="AddressLine1" class="col-sm-1 control-label">Adressrad1</label>
				<div class="col-sm-6">
					<input name="AddressLine1" id="AddressLine1" type="text" class="form-control" data-ng-model="registrationData.AddressLine1" required />
				</div>
			</div>

			<div class="form-group">
				<label for="AddressLine2" class="col-sm-1 control-label">Adressrad2</label>
				<div class="col-sm-6">
					<input name="AddressLine2" id="AddressLine2" type="text" class="form-control" data-ng-model="registrationData.AddressLine2" required />
				</div>
			</div>

			<div class="form-group">
				<label for="City" class="col-sm-1 control-label">Stad</label>
				<div class="col-sm-6">
					<input name="City" id="City" type="text" class="form-control" data-ng-model="registrationData.City" required />
				</div>
			</div>

			<div class="form-group">
				<label for="ZipCode" class="col-sm-1 control-label">Postnr</label>
				<div class="col-sm-6">
					<input name="ZipCode" id="ZipCode" type="text" class="form-control" data-ng-model="registrationData.ZipCode" required />
				</div>
			</div>

			<div class="form-group">
				<label for="PhoneNr" class="col-sm-1 control-label">Telnr</label>
				<div class="col-sm-6">
					<input name="PhoneNr" id="PhoneNr" type="text" class="form-control" data-ng-model="registrationData.PhoneNr" required />
				</div>
			</div>

			<div class="form-group">
				<label for="EmailAddress" class="col-sm-1 control-label">Epost</label>
				<div class="col-sm-6">
					<input name="EmailAddress" id="EmailAddress" type="text" class="form-control" data-ng-model="registrationData.EmailAddress" required />
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>Mata in användarnamn och lösenord</legend>

			<div class="form-group">
				<label for="regUserId" class="col-sm-2 control-label">Login</label>
				<div class="col-sm-6">
					<input name="regUserId" id="regUserId" type="text" class="form-control" data-ng-model="registrationData.UserId" required />
				</div>
			</div>

			<div class="form-group">
				<label for="regPassword" class="col-sm-2 control-label">Lösenord</label>
				<div class="col-sm-6">
					<input name="regPassword" id="regPassword" type="password" class="form-control" data-ng-model="registrationData.Password" required />
				</div>
			</div>

			<div class="form-group">
				<label for="regConfPassword" class="col-sm-2 control-label">Upprepa lösenord</label>
				<div class="col-sm-6">
					<input name="regConfPassword" id="regConfPassword" type="password" class="form-control" data-ng-model="registrationData.ConfirmPassword" required />
				</div>
			</div>
		</fieldset>

		<div class="form-group">
			<button class="btn btn-lg btn-primary col-sm-offset-1 col-sm-2" type="submit" data-ng-click="signUp()">Registrera användare</button>
		</div>

		<div data-ng-hide="signUpMessage == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
			{{ signUpMessage }}
		</div>
	</form>
</div>