﻿<div class="row well" ng-controller="FrontPageController">
	<h2>Veckans nyheter</h2>
	<div ng-repeat="produkt in produkter">
		<div ng-show="$odd" class="col-md-5 col-sm-5" style="float: left; border-bottom-style: ridge; margin-bottom: 10px;">
			<div style="float: left">
				<div style="display:none">{{ produkt.id }}</div>
				<div>{{ produkt.namn }}</div>
				<div>{{ produkt.pris | currency }}</div>
			</div>
			<button ng-click="buyProdukt(produkt)" class="btn btn-small" style="float: right">Köp</button>
		</div>

		<div ng-show="$even" class="col-md-5 col-sm-5 col-md-offset-2 col-sm-offset-2" style="float: right; border-bottom-style: ridge; margin-bottom: 10px;">
			<div style="float: left">
				<div style="display:none">{{ produkt.id }}</div>

				<div style="float: left">{{ produkt.namn }}</div><br />
				<div>{{ produkt.pris | currency }}</div>
			</div>
			<button ng-click="buyProdukt(produkt)" class="btn btn-small" style="float: right">Köp</button>
		</div>
	</div>
</div>