﻿<div class="well row">
	<h2>Sökning inte implementerad</h2>
	<h3>Det finns ändå bara 4 artiklar i databasen.</h3>

	<p class="lead">
		Du sökte efter: <span id="searchValDisp"></span>
	</p>
</div>