﻿<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Välkommen till TestWebbshoppen</title>
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")
	</head>
	<body ng-app="TestApp">
		<div id="bodyContainer" ng-controller="TestController">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						@Html.ActionLink("TestWebbshoppen", "", "", new { area = "" }, new { @class = "navbar-brand" })
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="#!/about" >Om TestWebbshoppen</a></li> 
							<li>
								<input type="text" id="txtSearch" ng-model="searchValIn" style=" height:20px; margin-top:15px"/>
								<input type="button" class="btn btn-xs" id="btnSearch" ng-click="displaySearch()" style="height:20px" value="Sök"/>
							</li>
							<li>
								<a id="shoppingCartPopover" href="" shoppingcart-popover>Varukorgen</a>
							</li>
							<li>
								<input type="button" class="btn btn-xs" id="btnLogout" ng-click="emergencyLogout()" style="height:20px;margin-top:15px;display:none" value="Nödutloggning"/>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="container body-content">
				<div class="jumbotron row">
					<h1>Välkommen till TestWebbshoppen</h1>
				</div>

				<ng-view />
			</div>
		</div>

		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
		@Scripts.Render("~/bundles/underscore")
		@Scripts.Render("~/bundles/angular")

		@Scripts.Render("~/Scripts/app/testapp.js")
		@Scripts.Render("~/Scripts/app/test-controller.js")
		@Scripts.Render("~/Scripts/app/frontpage-controller.js")
		@Scripts.Render("~/Scripts/app/checkoutauth-controller.js")
		@Scripts.Render("~/Scripts/app/checkoutorder-controller.js")
		@Scripts.Render("~/Scripts/app/shoppingcart.js")
		@Scripts.Render("~/Scripts/app/authentication.js")

	</body>
</html>